{% extends "./layout.html" %}
{% block head %}
<link rel="stylesheet" href="/home/main.css">
{% endblock %}

{% block body %}
{% block homeBanner %}
{% endblock %}
<div class="show_time">
  <div class="feature-con">
    <ul class="feature fn-clear">
      <li class="feature-item"><i class="ico"></i>
        <h4 class="tit">项目1</h4>
        <p class="des">项目1111111111</p>
      </li>
      <li class="feature-item"><i class="ico"></i>
        <h4 class="tit">项目2</h4>
        <p class="des">项目222222222</p>
      </li>
      <li class="feature-item"><i class="ico"></i>
        <h4 class="tit">项目3</h4>
        <p class="des">项目33333333333</p>
      </li>
      <li class="feature-item"><i class="ico"></i>
        <h4 class="tit">项目4</h4>
        <p class="des">项目4444444444</p>
      </li>
    </ul>
  </div>
</div>
{% endblock %}